ACTION=="add|change", SUBSYSTEM=="block", ENV{ID_SERIAL}=="20024*", ATTR{queue/scheduler}="noop"
ACTION=="add|change", SUBSYSTEM=="block", ENV{ID_SERIAL}=="20024*", ATTR{queue/scheduler}="none"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DM_UUID}=="mpath-20024*", ATTR{queue/scheduler}="noop"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DM_UUID}=="mpath-20024*", ATTR{queue/scheduler}="none"
